* {
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0.918);
    margin: 100px;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 35px;
}

.js{
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    text-decoration: none;
}

.voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 42px;
    height: 42px;
    margin: auto;
    border-radius: 50%;
}

.voltar:hover {
    zoom: 1.1;
    display: flexbox;
}